<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>

<IfModule mod_headers.c>
	Header edit Content-Type ^\s*text/html.*$ "text/html; charset=UTF-8"
	Header edit Content-Type ^\s*application/json.*$ "application/json; charset=UTF-8"
</IfModule>

